body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555555;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.btn {
  min-width: 120px;
  height: 40px;
  padding: 8px 12px;
  display: inline-block;
  border: 1px solid #007BFF;
  border-radius: 4px;
  margin: 5px;
  background-color: #007BFF;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #e0e0e0;
}

th {
  background-color: #f4f4f4;
  color: #333333;
}

td {
  background-color: #ffffff;
}

.message {
  color: #d9534f;
  font-weight: bold;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

footer {
  margin: 20px 0;
  padding: 10px;
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
}

.navbar {
  overflow: hidden;
  background-color: #343a40;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #007BFF;
}

.navbar a.active {
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
}
